.input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    font-size: 20px;
    color: white;
}

.input input{
    width: 20%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
}

